/*
Template Name: GuldEmail
Description: HTML5 / CSS3 One Page
Version: 0.1
Author: guld
Website: https://chrissmejia.com
*/

body {
    font-family: 'Roboto', sans-serif;
    color: #353e55;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: #264175;
    font-weight: 300;
}

h3 {
    margin-bottom: 1rem;
}

.container {
    padding: 0;
}

.btn-primary {
    color: #fff;
    background-color: #274175;
    border-color: #3b4a5a;
}

a {
    color: #274175;
}

.navbar-brand {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 200;
}

.header {
    width: 100%;
    background: #744f92;
}

.header .container {
    padding: 0;
}

.navbar #logo {
    width: 5rem;
    margin-right: 0.2rem;
}

.header #text {
    text-align: center;
    font-size: 1.3rem;
    padding: 0.6rem 0;
    color: #fff;
    font-weight: 300;
    opacity: 0.9;
    display: inline-block;
}

#section-welcome {
    padding: 2rem 0 0.6rem;
}

#section-os .platform {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    text-align: center;
    vertical-align: middle;
}

#section-os .platform .item {
    line-height: 2.4rem;
    padding: 2.3rem 0;
}

#section-os .platform img {
    height: 6rem;
}

.footer {
    margin-top: 1rem;
    color: #fff;
    background: #744f92;
    padding: 0.4rem 0;
    font-size: 0.9rem;
}

.footer a {
    color: #fff;
}

.footer ul {
    margin-bottom: 0;
}
